* {
    font-family: 'Roboto', sans-serif;

}

.content {
    padding: 1rem;
}

.content h1 {
    font-family: 'Pokemon Solid', sans-serif;
}

ol.pokemons {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
}

ol.pokemons li {
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #14A06F;
    border-radius: 1rem;
    text-shadow: 2px 2px black;
    color: white;
    
}

ol.pokemons li img { 
    max-width: 70%;
    align-self: flex-end;

}